<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Internal application error</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet" />
        <link href="/css/screen.css?${buildNumber}" rel="stylesheet" type="text/css"></link>
        <link rel="icon" type="image/gif" href="http://img.rultor.com/favicon.ico?${buildNumber}"/>
    </head>
    <body>
        <div class="container-fluid">
            <p>
                <a href="http://www.rultor.com/">
                    <img src="http://img.rultor.com/logo.png?${buildNumber}"
                        style="width: 150px; height: 46px;" alt="rultor.com logo"/>
                </a>
            </p>
            <p>
                Revision: <code>${buildNumber}</code>
            </p>
            <p>
                Something went terribly wrong. The system can't
                serve your request at the moment. We've been already
                notified about this situation and will start working
                on it really soon. In the meantime, please get back
                to the site and try to do the same operation again.
                Maybe it will work, you know :)
            </p>
            <p>
                The text below is a detailed description of your
                <a href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP request</a>
                and a
                <a href="http://en.wikipedia.org/wiki/Stack_trace">stacktrace</a>
                of the <a href="http://en.wikipedia.org/wiki/Exception_handling">runtime exception</a>
                thrown by
                <a href="http://en.wikipedia.org/wiki/Java_virtual_machine">JVM</a>.
                If you want to help us, please post this text as a new issue to
                <a href="https://github.com/yegor256/rultor/issues/new">Github</a>.
            </p>
            <pre>${text}</pre>
        </div>
    </body>
</html>
