Quality Means Strict Rules
===========

Rultor.com lets you configure and enforce basic rules of your
software development project, for example:

 - "Every new commit to our Git repository should trigger a
   new build on a new on-demand Amazon EC2 instance
   (aka **continuous integration**)"

 - "Every Github pull request should pass all unit tests and other automated
   quality checks before merging into `master` (aka **preflight build**)"

 - "A staging request (submitted through IRC, Skype, or tickets) should
   automatically lead to a new staging environment with
   a feature branch deployed into it"

 - "Unit test failures and quality defects should become visible in
   feature branch tickets before code review or merge starts
   (aka **preventive builds**)"

We do not provide any computing or storage resources, like servers.
Instead, we integrate your existing components and help you to manage them.
At the moment, we support out-of-the-box: Github, JIRA, Git,
AWS EC2, AWS CloudFormation, AWS S3, FTP. The list is growing, and in the
nearest future we'll support Subversion, Mercurial, Trac, DigitalOcean,
Windows Azure, Rackspace, etc. (you can help us by contributing).

[Quick Start](./start.html)
manual will help you to get your first rule up and running in 60 seconds.

Rultor is an open source project hosted at [Gihub](https://github.com/rultor/rultor).
You're very welcome to suggest new features, report bugs, and ask
questions in [Github Issue Tracker](https://github.com/rultor/rultor/issues).
The project is still in "pre-beta" state.
